body {background-color: #CD5C5C;
background-image: url(Floorboard.png);}
/*That is my background colour*/ 

h1{color: white;
  font-family: Segoe Print}
center h3 {
  font-family: Helvitica;
  color:white;
  font-size:32;
}
h2{
  color: white;
  font-family: Segoe Print;
  font-size:22;
}
p{color: White ;
  font-family: Segoe Print;
font-size:20;
}
div.Yea{
display: flex;
flex-flow: right;

}